{% extends "base.html" %}
{% block title %}start new game{% endblock %}
{% block content %}
<form class="pure-form pure-form-aligned" method="post" action="{{ url_for('newgame') }}">
    <fieldset>
    <div class="pure-control-group"><label for="name">Name</label><input type="text" name="name" placeholder="name"/></div>
    <div class="pure-control-group"><label for="color_white" class="pure-radio">White</label><input id="color_white" type="radio" name="color" value="white" checked/></div>
    <div class="pure-control-group"><label for="color_black" class="pure-radio">Black</label><input id="color_black" type="radio" name="color" value="black"/></div>
    </fieldset>
    <fieldset>
    <div class="pure-control-group"><label for="uct_constant">UCT constant</label><input type="text" name="uct_constant" value="1"/></div>
    <div class="pure-control-group"><label for="uct_time">Time</label><input type="text" name="uct_time" value="3"/></div>
    <div class="pure-control-group"><label for="uct_prune" class="pure-checkbox">Prune</label><input type="checkbox" name="uct_prune" checked/v></div>
    <div class="pure-controls"><input class="pure-button pure-button-primary" type="submit" value="New game"/></div>
    </fieldset>
</form>
{% endblock %}

